.menu-btn {
    @include menu-btn;
    &__burger {
        @include menu-btn__burger;
    }
}

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
    &::before {
        transform: rotate(45deg) translate(35px, -35px);
    }
    &::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }
}


